@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
@layer base {
  body {
    @apply bg-light-bg text-zinc-900 dark:bg-dark-bg dark:text-white transition-colors duration-300;
  }
}

/* Custom Scrollbar */
@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-light-surface dark:bg-[#18181b]; 
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-300 dark:bg-[#3f3f46]; 
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-400 dark:bg-[#52525b]; 
  }
}
